<h1><em><%= Quote.all.sample.text%></em></h1>

<h1> Listing Questions </h1>
<table>
  <tr>
    <th>ID</th><td></td>
    <th>TITLE</th><td></td>
    <th>CONTENT</th><td></td>
    <th>VOTE COUNT</th><td></td>
    <th>LIKE</th><td></td>
    <th>UNLIKE</th><td></td>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td><td></td>
      <td><%= question.title %></td><td></td>
      <td><%= question.content %></td><td></td>
      <td><%= question.votes%></td><td></td>
      <td><%=link_to 'LIKE', "/questions/upvote/#{question.id}" %></td><td></td>
      <td><%= link_to 'UNLIKE', "/questions/downvote/#{question.id}"%></td>
    </tr>
  <% end %>
</table>
<h2> New Question </h2>
<%=form_for :question, url: questions_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

   <p>
    <%= f.submit %>
  </p>
<% end %>

